.mobile-menu {
  position: fixed;
  z-index: 3;
  transition: all 1s;
    left: 50%;
    top: 50%;
  transform: translate(-50%,-200%);
  top: 0;

  &__items {
    font-size: 18px;
    text-align: center;
    color: $black;
    font-weight: 600;
  }

  &__item {
    transition: color 0.3s;
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &:hover {
      color: $white;
    }
  }

  &__link {
    &--active {
      color: $white;
    }
  }

  &--active {
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    z-index: 13;
    top: 200px;
  }
}