<div class="mobile-menu">
  <div class="mobile-menu__content">

    <div class="container">

      <!-- @include('../components/_burger.html', {
      'class-btn': 'burger burger--close',
      'class-line': 'burger__line burger__line--close'
      }) -->

      <ul class="mobile-menu__items">
        <li class="mobile-menu__item">
          <a class="mobile-menu__link mobile-menu__link--active  wrapper-click" href="#catalog">
            Наши специалисты
          </a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link wrapper-click" href="#catalog-reviews">
            Приложение
          </a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link wrapper-click" href="#concept">
            Цены
          </a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link wrapper-click" href="#recipes">
            Отзывы
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>

@include('../components/_overlay.html')