.footer {
  padding-bottom: 15px;

  &__bottom {
    display: flex;

    @include max-w($xxl) {
      flex-wrap: wrap;
    }
  }

  &__logo.logo {
    margin-right: 65px;

    @include max-w($xxl) {
      margin-bottom: 25px;
    }
  }

  &__link-box {
    margin-right: 59px;
    font-size: 16px;

    @include max-w($xxl) {
      margin-bottom: 25px;
    }
  }

  &__link-items {
    display: flex;
    color: $black;
    margin-bottom: 35px;

    @include max-w($sm) {
      flex-wrap: wrap;
      margin-bottom: 15px;
    }

  }

  &__link-item {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__link-text {
    display: block;
    color: #b1afad;
  }

  &__contacts {
    margin-right: 116px;

    @include max-w ($sm) {
      margin-right: 20px;
      margin-bottom: 25px;
    }
  }

  &__tel {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: $black;
  }

  &__link-form {
    text-decoration: underline;
    font-size: 11px;
    margin-bottom: 44px;
    display: block;
  }

  &__social {
    display: flex;
    justify-content: space-between;
  }

  &__social-img {
    width: 20px;
    height: 20px;
    fill: $basic;
    transition: fill 0.3s;

    &:hover {
      fill: $accent
    }
  }

  &__mobile {
    margin-top: -23px;
  }

  &__mobile-link {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;

    &--google {
      background-image: url('../../images/footer/google-play.png');
      width: 227px;
      height: 88px;
    }

    &--app {
      background-image: url('../../images/footer/app-store.png');
      width: 198px;
      height: 66px;
      margin-left: 15px;
    }
  }
}